<div class="w-full flex flex-col">

    <div class="w-full h-[15rem] flex flex-wrap items-center justify-center bg-[#F6F6F4] text-sm">
    
        <div class="w-1/4 flex justify-around p-5 mr-30">
            <a class href="#">
                <img class="w-3" src="icons/linkedin-in-brands-solid.svg">
            </a>
            <a href="#">
                <img class="w-3" src="icons/facebook-f-brands-solid.svg">
            </a>
            <a href="#">
                <img class="w-3" src="icons/x-twitter-brands-solid.svg">
            </a>
            <a href="#">
                <img class="w-3" src="icons/youtube-brands-solid.svg">
            </a>
            <a>
                <img class="w-3" src="icons/instagram-brands-solid.svg">
            </a>
        </div>
        
        <div class="w-1/2 grid grid-cols-4 gap-4">
    
            <div class="flex flex-col">
                <h4 class="mb-2 font-bold">FILMS</h4>
                <a class="underline" href="#">Features</a>
                <a class="underline" href="#">Shorts</a>
                <a class="underline" href="#">Series</a>
                <a class="underline" href="#">SparkShorts</a>
                <a class="underline" href="#">Documentaries</a>
            </div>
    
            <div class="flex flex-col">
                <h4 class="mb-2 font-bold">TECH</h4>
                <a class="underline" href="#">Tech at Pixar</a>
                <a class="underline" href="#">RenderMan</a>
                <a class="underline" href="#">Open USD</a>
                <a class="underline" href="#">Software R&D</a>
                <a class="underline" href="#">Libraries</a>
            </div>
    
            <div class="flex flex-col">
                <h4 class="mb-2 font-bold">CAREERS</h4>
                <a class="underline" href="#">Careers At Pixar</a>
                <a class="underline" href="#">Interships</a>
                <a class="underline" href="#">Life At Pixar</a>
            </div>
    
            <div class="flex flex-col">
                <h4 class="mb-2 font-bold">MORE</h4>
                <a class="underline" href="#">Leaders</a>
                <a class="underline" href="#">Our Story</a>
                <a class="underline" href="#">Events</a>
                <a class="underline" href="#">Pixar In A Box</a>
                <a class="underline" href="#">Supplier Diversity</a>
                <a class="underline" href="#">FAQ's</a>
            </div>
    
        </div>
    </div>

    <br>

    <div class="flex flex-col items-center justify-center mb-8 gap-2">
        <small>Do Not Sell or Share My Personal Information</small>

        <div class="text-xs">

            <a>Privacy Policy</a>
             | 
            <a>Your US State Privacy Rights</a>
             | 
            <a>Children's Online Privacy Policy</a>
             | 
            <a>Children's Online Privacy Policy</a>
             | 
            <a>Interest Based Ads</a>
             | 

        </div>

        
        <small>{{ copyright }}</small>
    </div>

</div>

