<div class="h-[80px] flex flex-row justify-space-between items-center p-8">

    <a class="w-40">
        <img src="logo.png">
    </a>


    <div class="w-full flex justify-end items-center ">

        <div class="w-1/2 flex justify-around">
            <button (click)="scrollToSection('films')">
                <h2>FILMS</h2>
            </button>
            <button (click)="scrollToSection('technology')">
                <h2>TECHNOLOGY</h2>
            </button>
            <button (click)="scrollToSection('carrers')">
                <h2>CAREERS</h2>
            </button>
            <button (click)="scrollToSection('more')">
                <h2>MORE</h2>
            </button>
        </div>
    </div>

</div>