
<div class=" pt-10 px-10 lg:px-50">
    

    <app-win-or-lose-component></app-win-or-lose-component>

    <br><br>

    <app-second-component></app-second-component>

    <br><br>

    <app-component-elio></app-component-elio>

    <br><br>

    <div class="grid md:grid-cols-3 grid-rows-3 md:h-[20rem] h-auto gap-5 md:gap-2">

        <app-component-dream-productions class="w-full h-full"></app-component-dream-productions>

        <app-component-hoppers class="w-full h-full"></app-component-hoppers>
        <app-component-toy-story class="w-full h-full"></app-component-toy-story>

    </div>

    <br><br>
</div>